<!doctype html>
<html>
    <head>
        <title>Dillan's Little Internet Home</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='background.css') }}"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='typography.css') }}"
        />
    </head>
    <body>
        <section class="main">
            <h1>Welcome</h1>
            <p>
                Sunt incididunt et consequat. Do ea consequat cillum fugiat ad.
                Ea sint incididunt consectetur est id. Ad Lorem commodo irure
                tempor amet dolor labore voluptate. In irure ea sit labore
                eiusmod tempor reprehenderit. Aliquip adipisicing non enim.
                Nulla ad cupidatat duis ea do laboris enim voluptate.
            </p>

            <p>
                Eu nostrud sunt mollit id irure ut culpa do mollit elit amet
                dolor irure. Et ut amet elit nulla aliquip ad aliquip. Irure in
                cillum eu amet non incididunt non ullamco minim excepteur.
                Eiusmod cillum consectetur dolor magna consectetur proident amet
                dolor in est dolor culpa consequat.
            </p>

            <p>
                Id nisi ad sint nulla consequat qui pariatur sint nostrud
                cupidatat non aute veniam nulla. Lorem ut occaecat reprehenderit
                reprehenderit nisi esse ut aliquip magna exercitation excepteur
                Lorem non. Quis adipisicing enim reprehenderit culpa occaecat.
                Eiusmod nisi veniam ea nostrud. Ullamco ea ut tempor proident
                ex.
            </p>

            <p>
                Aute tempor adipisicing non voluptate aliquip veniam adipisicing
                commodo excepteur pariatur voluptate labore Lorem nostrud
                occaecat. Proident aute minim laborum cillum et. Ipsum amet eu
                ullamco fugiat minim fugiat id aliqua consectetur culpa cillum.
                Ex non consequat velit ex deserunt consectetur non aute et
                officia quis Lorem excepteur nisi ea. Nostrud sunt et occaecat
                adipisicing consectetur nulla eu consequat ipsum. Nisi aliqua
                non officia minim do nulla sunt aute veniam amet nostrud
                consectetur sunt. Pariatur id magna labore sit culpa in.
            </p>

            <p>
                Anim tempor pariatur deserunt eiusmod deserunt quis eiusmod in
                exercitation qui esse magna consequat enim. Labore non
                incididunt tempor fugiat. Et aute sint amet. Consectetur in
                aliquip ea sit magna enim eiusmod ex ullamco aliquip aliquip
                dolore occaecat sit laborum. Aute do mollit amet aliquip ad sint
                reprehenderit magna cupidatat officia ullamco enim ex. Quis sit
                ullamco mollit tempor enim ad dolore mollit.
            </p>
        </section>
    </body>
</html>
